/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
:root {
	--global-color-1: #800000;
}
html {
	background-color: #fffded;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0 auto;
	/*border: 3px;
	border-color: #931420;*/
}

/* the styles for the header */
header {
	/*border: 3px;
	border-color: #931420;*/
	padding-top: 1.5em;
	padding-bottom: 2em;
}
header img {
	float: left;
	padding: 0 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 190%;
}

.shadow {
	text-shadow: 1.5px 1.5px 1.5px #800000;
}

/* the styles for the main content */
main {
	clear: left;
	padding: 0 30px;
}

main h1 {
	font-size: 150%;
	margin: 1em 0 .35em;
	border: 3px;
	border-color: #931420;
}

main h2 {
	color: var(--global-color-1);
	font-size: 130%;
}

main h3 {
	font-size: 105%;
}

a:focus,
a:hover {
	font-style: italic;
}

/* the styles for the footer */
footer {
	margin-top: 1em;
	border: 3px #931420;
}

footer p{
	text-align: center;
	color: white;
}